@{
    ViewData["Title"] = "Information Page";
}

<div class="text-center">
    <h1 class="display-4">Information</h1>
    <p>For the source code from this book, <a href="https://github.com/SyncfusionSuccinctlyE-Books/ASP.NET-Core-6-Succinctly">get it on GitHub</a>.</p>
</div>
